img {
    width: 20%;
}

#container {
    height: auto;
    margin: 0px auto;
    padding: 10px;
}

#container #header {
    margin-top: 20px;
}

#container #header #menu {
    background: #F7F7F7;
    padding: 5px 10px;
    overflow: hidden;
}

#container #header #menu #user {
    float: right;
}

#container #header #menu #user a {
    color: black;
    padding-right: 5px;
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

/*#container a {
    color: black;
    padding-right: 5px;
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}*/

#container #footer {
    text-align: center;
    font-size: 15px;
}

#container #header #menu #logo {
    text-align: center;
}

#container #header #menu #kiri {
    text-align: right;
}

#container #header #menu #user #tengah {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

#container #header #menu #user #tengah a:hover,
#container #header #menu #user #tengah a.active{
    background: grey;
}

#container #content {
    padding: 10px 0px;
    overflow: hidden;
}
#container-user-akses {
    width: 350px;
    height: auto;
    margin: 50px auto;
}

form {}

.element-form {
    margin-bottom: 30px;
}

.element-form {}

.element-form span {
    display: block;
}

.element-form span input[type="text"],
.element-form span input[type="password"],
.element-form span textarea, 
.element-form span select {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
}

.element-form span input[type="submit"] {
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    background: grey;
}

.element-form span input[type="submit"]:hover {
   background:blue;
}

.notif {
    background: red;
    color: white;
    padding: 8px;
    margin-bottom: 25px;
    font-size: 14px;
}
#bg-page-profile {
    overflow: hidden;
}

#profile-content {
    text-align: center;
}